.hello {
  color: red;
  background: url('./icon.jpg');
  font-family: 'Century Gothic';
}

@font-face {
  font-family: 'Century Gothic';
  src:  url('./centuryGothic.ttf') format('ttf'),
  url('./centuryGothic.ttf') format('ttf');

  font-weight: 600;
  font-style: normal;
}

/* We can specify multiple fonts too, for e.g., */
/* src:  url('./centuryGothic.ttf') format('ttf'),
url('./my-font.woff') format('woff'); */
